<div >
    <input ng-hide="true" ng-model="returnvalue" type="text" class="form-control" />
    <input ng-click="visible=!visible" readonly value="{{displayvalue}}" type="text" class="form-control" placeholder="{{::placeholder}}" />
    <p ng-show="visible" style="border:1px solid #CCC; width:100%; height: 250px; overflow:auto">
        <wi-tree dataProvider="data"
                 idfield="{{::idfield}}"
                 pidfield="{{::pidfield}}"
                 labelfield="{{::textfield}}"
                 multiselect="false"
                 onSelect="onSelect"
                 onItemClick="onClick"
                 wid="_model">
        </wi-tree>
    </p>
</div>