

<div>
    <p>当前页面：管理</p>
    <a ui-sref="home">回到主页</a>
    <br/>
    <a ui-sref="approve.handling">去业务审批在办箱</a>
    <br/>
    <a ui-sref="debug.table.smart">代码测试smart</a>
    <br/>
    <br/>
    <a ui-sref="template({templateUrl:'template/content/tplCustomer/item1.html',params:'{\'title\':\'自定义1\',\'closeTab\':true}'})">代码测试新加自定义tab2</a>
    <br/>
    <a ui-sref="template({templateUrl:'template/content/tplCustomer/item2.html',params:'{\'title\':\'自定义2\',\'closeTab\':true}'})">代码测试新加自定义tab1</a>

    <br/>
</div>
