<div class="datepicker input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" is-open="popup1.opened"
           ng-required="true" close-text="关闭"
           ng-change="dateChange()"
           clear-text="清空" current-text="今天" alt-input-formats="altInputFormats"/>

    <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="open1()">
                 <i class="glyphicon glyphicon-calendar"></i>
             </button>
    </span>
</div>