
<style>
.grid{
    width:100%;
}

</style>

<div ng-controller="HomeController" class="container-fluid">
    <div  class="row">
        <div class="col-md-12 padding-0">
            <div class="col-md-9 padding-0">
                主页
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
            <div class="col-md-3 padding-0 dt-home-rightarea-padding">
                </div>
            </div>
        </div>
    </div>
</div>