html .navbar-custom{
    height: 3.214rem;
}

.new-btn-submit button{
    margin:0 0.714rem;
}


/*buttonbar工具栏样式*/
.buttonbar {
    position: relative;
    z-index: auto;
    border-bottom: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    height: 2.929rem;
    line-height: 2.857rem;
    padding: 0 12px 0 12px;
}

@media (min-width: 992px) {
    .buttonbar-fixed {
        position: fixed;
        right: 0;
        left: 0;
        top: 6.143rem;
        z-index: 1024;
    }
    .buttonbar-fixed + .page-content {
        padding-top: 6.429rem;
    }
    .sidebar + .main-content .buttonbar-fixed {
        left: 190px;
    }
    body.mob-safari {
        /**
         //not needed because breadcrumbs is not fixed at this point
         media (max-width: @screen-topbar-down) {
          .navbar-fixed-top:not(.navbar-collapse) + .main-container .buttonbar-fixed {
            top: (@navbar-min-height * 2);
          }
         }*/
    }
    body.mob-safari .buttonbar-fixed {
        top: 45px;
    }
}
@media (min-width: 992px) {
    .sidebar.compact + .main-content .buttonbar-fixed {
        left: 105px;
    }
}
@media (min-width: 992px) {
    .sidebar.menu-min + .main-content .buttonbar-fixed {
        left: 43px;
    }
}
@media (min-width: 992px) and (max-width: 991px) {
    .buttonbar-fixed,
    .sidebar.menu-min + .main-content .buttonbar-fixed {
        left: 0;
    }
    .sidebar.responsive-min + .main-content .buttonbar-fixed,
    .sidebar.responsive-max + .main-content .buttonbar-fixed {
        left: 43px;
    }
}
@media (min-width: 992px) {
    .container.main-container .buttonbar-fixed {
        left: auto;
        right: auto;
        width: 744px;
    }
    .container.main-container .sidebar + .main-content .buttonbar-fixed {
        left: auto;
        right: auto;
        width: 554px;
    }
    .container.main-container .sidebar.compact + .main-content .buttonbar-fixed {
        width: 639px;
    }
    .container.main-container .sidebar.menu-min + .main-content .buttonbar-fixed {
        left: auto;
        right: auto;
        width: 701px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar.compact + .main-content .buttonbar-fixed {
        width: 859px;
    }
}
@media (min-width: 992px) {
    .container.main-container .buttonbar-fixed {
        width: 964px;
    }
    .container.main-container .sidebar + .main-content .buttonbar-fixed {
        width: 774px;
    }
    .container.main-container .sidebar.menu-min + .main-content .buttonbar-fixed {
        width: 921px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar.compact + .main-content .buttonbar-fixed {
        width: 1059px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .buttonbar-fixed {
        width: 1164px;
    }
    .container.main-container .sidebar + .main-content .buttonbar-fixed {
        width: 974px;
    }
    .container.main-container .sidebar.menu-min + .main-content .buttonbar-fixed {
        width: 1121px;
    }
}
@media (min-width: 992px) and (max-width: 991px) {
    .container.main-container .sidebar.compact + .main-content .buttonbar-fixed {
        width: 744px;
    }
}
@media (min-width: 992px) and (max-width: 991px) {
    .container.main-container .buttonbar-fixed,
    .container.main-container .sidebar.menu-min + .main-content .buttonbar-fixed {
        width: 744px;
    }
    .container.main-container .sidebar.responsive-min + .main-content .buttonbar-fixed,
    .container.main-container .sidebar.responsive-max + .main-content .buttonbar-fixed {
        left: auto;
        right: auto;
        width: 701px;
    }
}
/**
@media (max-width: @grid-float-breakpoint-max) {
 .buttonbar-fixed {
	position: relative;
	left: auto !important;
	right: auto !important;
	top: auto !important;
	width: auto !important;

	+ .page-content {
		padding-top: @page-content-padding-top;
	}
 }
}
*/
@media (min-width: 992px) {
    .h-sidebar + .main-content .buttonbar.buttonbar-fixed {
        position: relative;
        top: auto;
        left: auto;
        z-index: auto;
        width: auto;
    }
    .h-sidebar + .main-content .page-content {
        padding-top: 12px;
    }
}




/*buttonbar工具栏样式*/
.fix-buttonbar {
    position: absolute;
    z-index: auto;
    border-bottom: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    height: 2.929rem;
    line-height: 2.857rem;
    padding: 0 12px 0 12px;
}

/*
.fix-buttonbar {
    text-align: center;
    position: absolute;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
}*/
.sidebar ~ .fix-buttonbar {
    left: 190px;
}
@media (min-width: 992px) {
    .sidebar.compact ~ .fix-buttonbar {
        left: 105px;
    }
}
.sidebar.menu-min ~ .fix-buttonbar {
    left: 43px;
}
@media (min-width: 992px) {
    .sidebar.h-sidebar ~ .fix-buttonbar {
        left: 0;
    }
}
@media (max-width: 991px) {
    .fix-buttonbar,
    .sidebar ~ .fix-buttonbar,
    .sidebar.compact ~ .fix-buttonbar,
    .sidebar.menu-min ~ .fix-buttonbar {
        left: 0;
    }
    .sidebar.responsive-min ~ .fix-buttonbar {
        left: 43px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container.main-container .fix-buttonbar {
        left: auto !important;
        right: auto !important;
        margin-left: auto;
        width: 744px;
    }
}
@media (min-width: 992px) {
    .container.main-container .fix-buttonbar {
        left: auto !important;
        right: auto !important;
        width: 964px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .fix-buttonbar {
        width: 1164px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container.main-container .sidebar ~ .fix-buttonbar {
        left: auto !important;
        right: auto !important;
        margin-left: auto;
        width: 744px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar ~ .fix-buttonbar {
        left: auto !important;
        right: auto !important;
        margin-left: 190px;
        width: 774px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar ~ .fix-buttonbar {
        margin-left: 190px;
        width: 974px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar.compact ~ .fix-buttonbar {
        margin-left: 105px;
        width: 859px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar.compact ~ .fix-buttonbar {
        margin-left: 105px;
        width: 1059px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar.menu-min ~ .fix-buttonbar {
        margin-left: 43px;
        width: 921px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar.menu-min ~ .fix-buttonbar {
        margin-left: 43px;
        width: 1121px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar.h-sidebar ~ .fix-buttonbar {
        margin-left: 0;
        width: 964px;
    }
}
@media (min-width: 992px) {
    .container.main-container .sidebar.h-sidebar ~ .fix-buttonbar {
        margin-left: 0;
        width: 964px;
    }
}
@media (min-width: 1200px) {
    .container.main-container .sidebar.h-sidebar ~ .fix-buttonbar {
        margin-left: 0;
        width: 1164px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container.main-container .sidebar.responsive-min ~ .fix-buttonbar {
        margin-left: 43px;
        width: 701px;
    }
}

/*.grid{
    width:700px;
    height:500px;
}*/


html .ui-grid-header-cell-wrapper{
    height:20px;
}